/* styles.css */

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

#site-logo {
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}
#site-logo img {
  width: 100%;
}
#site-logo h1 {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

#a4-area {
  width: 595px;
  height: 842px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

#header h1 {
  background-color: transparent;
  color: black; /* Set the input color to black */
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
}

#header input {
  background-color: transparent;
  color: black; /* Set the input color to black */
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
}

#a4-content {
  height: calc(100% - 200px); /* Height to fit 4 sections between header and logos */
  
}

.section {
  flex: 1; /* Each section takes up equal space */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #ccc;
  box-sizing: border-box;
  background-color: rgba(241, 241, 241, 0.062);
  margin-bottom: 10px;
  position: relative;
  height: 145px;
}

.section label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.section input {
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.section-logo {
  position: absolute;
  left: 20px;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.section:last-child {
  margin-bottom: 0;
}

.input-container {
  position: absolute;
  left: 100px;
  top: 10px;
}

.input-container input {
  margin-left: 5px;
}

#logo-left,
#logo-right {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#logo-left {
  left: 20px;
}

#logo-right {
  right: 20px;
}

#clear-sections {
  margin-top: 20px;
}

#clear-sections label {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #0072C6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 80%;
}

#clear-sections label:hover {
  background-color: #005FA1;
}


#add-brand {
  margin-top: 20px;
}

#add-brand label {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #0072C6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 80%;
}

#add-brand label:hover {
  background-color: #005FA1;
}

#right-sidebar {
  width: 200px;
  margin-left: 20px;
}

#left-sidebar {
  width: 200px;
  margin-right: 20px;
}

#uploader-left,
#uploader-right {
  margin-top: 20px;
}

#uploader-left input[type="file"],
#uploader-right input[type="file"] {
  display: none;
}

#uploader-left label,
#uploader-right label {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #0072C6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 80%;
}

#uploader-left label:hover,
#uploader-right label:hover {
  background-color: #005FA1;
}
.brand-button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.brand-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

#print-button {
  margin-top: 20px;
}

#print-button label {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #0072C6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 80%;
}

#print-button label:hover {
  background-color: #005FA1;
}

/* Style user-type div with radio buttons */
.user-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

/* Style radio buttons */
.user-type input {
  margin-right: 5px;
}

/* Print styles */
@media print {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #a4-area {
    box-sizing: border-box;
    width: 210mm;
    height: 297mm;
    padding: 10mm 20mm;
    margin: 0;
    border: none;
    page-break-after: always;
    position: relative;
  }

  #wrapper,
  #right-sidebar {
    display: none;
  }

  #left-sidebar {
    display: none;
  }

  #header {
    margin-top: 0;
  }

  #logo-left,
  #logo-right {
    bottom: 10px;
  }

  * {
    -webkit-print-color-adjust: exact;
  }
}