/* styles.css */

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

#site-logo {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
  text-align: center;
}
#site-logo img {
  width: 100%;
}
#site-logo h1 {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
}

#overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 10000;
  max-width: 800px;
}

#close-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10001;
}

#overlay-content h2 {
  margin-top: 0;
}

#overlay-content form {
  display: inline-block;
  text-align: left;
}

#overlay-content label {
  display: block;
  margin-bottom: 5px;
}

#overlay-content input[type="text"],
#overlay-content input[type="file"],
#overlay-content select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#overlay-content button[type="button"] {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#overlay-content button[type="button"]:hover {
  background-color: #0062cc;
}

#a4-area {
  width: 595px;
  height: 842px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f5f5f5; /* or any color you prefer */
  font-size: 12px; /* adjust as needed */
}

footer p {
  margin: 0px 0;
  text-align: center;
}

footer a {
  color: #6348ab;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#header h1 {
  background-color: transparent;
  color: black; /* Set the input color to black */
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
}

#header input {
  background-color: transparent;
  color: black; /* Set the input color to black */
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
}

#a4-content {
  height: calc(100% - 200px); /* Height to fit 4 sections between header and logos */
  
}

.section {
  flex: 1; /* Each section takes up equal space */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #ccc;
  box-sizing: border-box;
  background-color: rgba(241, 241, 241, 0.062);
  margin-bottom: 5px;
  position: relative;
  height: 124px;
  width: 100%;
}

.section label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.section input {
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.section-logo {
  position: absolute;
  left: 20px;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.section:last-child {
  margin-bottom: 0;
}

.input-container {
  position: absolute;
  left: 100px;
  top: 10px;
}

.input-container input {
  margin-left: 5px;
}

#logo-left,
#logo-right {
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  
}

#logo-left {
  left: 20px;
  background-position: left;
}

#logo-right {
  right: 20px;
  background-position: right;
}

.big-button {
  /*margin-top: 20px;*/
}

.big-button label {
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 90%;
}

.big-button label:hover {
  background-color: #e4e0e0;
}


#add-watermark-button input[type="file"] {
  display: none;
}


#add-brand {
  margin-top: 20px;
}

#add-brand label {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #b3d4fc;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 80%;
}

#add-brand label:hover {
  background-color: #90adcf;
}

#right-sidebar {
  width: 350px;
  margin-left: 20px;
}

#more-right {
  width: 350px;
  margin-left: 20px;
}

#left-sidebar {
  width: 200px;
  margin-right: 20px;
}

#uploader-left input[type="file"],
#uploader-right input[type="file"] {
  display: none;
}

/* User Type */
#user-type {
  margin: 10px 0;
  text-align: center;
}

#user-type label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  width: 90%;
  text-align: center;
}

#user-type-buttons input[type="radio"] {
  display: none;
}

#user-type-buttons label {
  display: inline-block;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

#user-type-buttons label:hover {
  background-color: #ddd;
}

#user-type-buttons input[type="radio"]:checked + label {
  background-color: #8d7692;
  color: #000000;
}

#user-type-buttons input[type="radio"]:checked + label:hover {
  background-color: #8e83ac;
}

/* Buttons */
.brand-button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.brand-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.category-button {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Categories */
#categories input[type="checkbox"] {
  display: none;
}

#categories label {
  display: inline-block;
  background-color: #f7f7f7;
  padding: 5px 5px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

#categories input[type="checkbox"]:checked + label {
  background-color: #8e83ac;
}

#category-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#category-select-all, #category-unselect-all {
  background-color: #8e83ac;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

#category-select-all:hover, #category-unselect-all:hover {
  background-color: #8d7692;
}

#category-select-all:focus, #category-unselect-all:focus {
  outline: none;
}

#category-select-all {
  margin-right: 10px;
}

/* Search */
#search {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

#search-form {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 1px;
  padding: 2px;
}

#search-input {
  border: none;
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

#search-input:focus {
  outline: none;
}

#search-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
}

#search-form button:hover {
  background-color: #45a049;
}

/* Main Menu */
.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu > ul > li {
  display: inline-block;
  width: 100%;
  position: relative;
}

.main-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0px;
  min-width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.submenu a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.main-menu li:hover > .submenu {
  display: block;
}

/* Language Selection */
#language-selection {
  background-color: #f2f2f2;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  width: 95%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#language-selection label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

#language-selection select {
  width: 100%;
  height: 35px;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000;
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /* for firefox */
  appearance: none;
}

#language-selection select:focus {
  outline: none;
}

/* Print styles */
@media print {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #a4-area {
    box-sizing: border-box;
    width: 210mm;
    height: 297mm;
    padding: 10mm 20mm;
    margin: 0;
    border: none;
    page-break-after: always;
    position: relative;
  }

  #wrapper,
  #right-sidebar {
    display: none;
  }

  #left-sidebar {
    display: none;
  }

  #header {
    margin-top: 0;
  }

  #logo-left,
  #logo-right {
    bottom: 10px;
  }

  .print-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    hyphens: none;
  }

  .watermark {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}